<html>

<head>

<title>
	PS378 Survey
</title>

</head>

<body>

<h1 style="text-align:center;font-size:5em">
	You've Finished!
</h1>

<p style="text-align:center;font-size:3em;margin-left:auto;margin-right:auto">

	Thank you for helping with my project!
	When I am done writing my essay, I will have
	<br>
	<a href="http://ps378.benjaminmassey.com/paper">
		http://ps378.benjaminmassey.com/paper
	</a>
	<br>
	link to it.
	Feel free to save that link for later (at least
	after 6/11/20) to see what I found. Otherwise,
	just pat yourself on the back for helping
	advance knowledge...or something :)

</p>

</body>

</html>