<html>

<head>

<title>
	PS378 Survey
</title>

</head>

<body>

<h1 style="text-align:center;font-size:5em">
	You've Finished!
</h1>

<p style="text-align:center;font-size:3em;margin-left:15%;margin-right:15%">

	Thank you for helping with my project! Here's a quick
	debrief:
	<br>
	This project took questions identical to a paper that
	I was required to read for this class on Prospect theory.
	Here's a link to that paper:
	<br>
	<a href="https://pages.uoregon.edu/myagkov/KTprospecttheory.pdf">
		PAPER LINK
	</a>
	<br>
	The basic summary of Prospect theory is that it analyzes
	and hopes to describe what decisions people make, in
	comparison to the 'real' probability. This ends up focusing
	on how people take risks on gambles in certain situations.
	<br>
	What this website adds to Prospect theory, is that
	when you opened the website, you had a 50% chance of
	getting a version of the questions that was in terms
	of 'points' and a 50% chance of getting questions in
	terms of 'money'. Part of my paper wants to examine
	the difference in how people take risks thinking in
	'the real world' versus 'a game'.
	<br>
	When I am done writing my essay, I will have
	<br>
	<a href="http://ps378.benjaminmassey.com/paper">
		http://ps378.benjaminmassey.com/paper
	</a>
	<br>
	link to it.
	Feel free to save that link for later (at least
	after 6/11/20) to see what I found. Otherwise,
	just pat yourself on the back for helping
	advance knowledge...or something :)

</p>

</body>

</html>
