<html>

<head>

<title>
	PS378 Survey
</title>

</head>

<body>

<h1 style="text-align:center;font-size:5em">
	Problem 8 <!-- problem 14' in document -->
</h1>

<table style="text-align:center;font-size:3em;margin-left:auto;margin-right:auto">
	<tr>
		<th>
			Option A
		</th>
		<th style="color:white">
			-------------------------
		</th>
		<th>
			Option B
		</th>
	</tr>
	<tr>
		<td style="color:white">
			-------------------------
		</td>
		<td style="color:white">
			-------------------------
		</td>
		<td style="color:white">
			-------------------------
		</td>
	</tr>
	<tr>
		<td>
			0.1% for -5000 points
		</td>
		<td style="color:white">
			-------------------------
		</td>
		<td>
			100% for -5 points
		</td>
	</tr>
	<tr>
		<td style="color:white">
			-------------------------
		</td>
		<td style="color:white">
			-------------------------
		</td>
		<td style="color:white">
			-------------------------
		</td>
	</tr>
	<tr>
		<td>
			<form action="/P/9/A">
				<input style="font-size:1em" type="submit" value="Choose A">
			</form>
		</td>
		<td style="color:white">
			-------------------------
		</td>
		<td>
			<form action="/P/9/B">
				<input style="font-size:1em" type="submit" value="Choose B">
			</form>
		</td>
	</tr>
</table>

</body>

</html>