<html>

<head>

<title>
	PS378 Survey
</title>

</head>

<body>

<h1 style="text-align:center;font-size:5em">
	PS 378 Survey
</h1>

<p style="text-align:center;font-size:3em;margin-left:auto;margin-right:auto">

	I'm Ben Massey, a student at the University of Oregon taking
	Political Science 378: Games in Politics, and as a part of
	my final I've made this website in order to gather data.
	<br><br>
	This will be a survey. There will be a series of questions.
	Each question will provide two options, and you must choose
	only one. Each option will give you certain chances of winning
	or losing "points". You must weigh the pros and cons of each option,
	and then make a choice. Do your best to act in the interest of
	maximing your points.
	<br><br>
	When you are ready to start,
	<br>
	<a href="/P1">
		click anywhere here
	</a>

</p>

</body>

</html>